<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quenstions Guide</title>
</head>
<body>
  <h1>Quenstions Guide</h1>
  <hr>
  <h3>List of Quenstions</h3>

  <p>Name: <%=  nome %></p>
  <p>Favorite Language: <%=  lang %></p>
  <p>Company: <%=  empresa %></p>
  <p>Workers: <%=  inscritos %></p>
  
  <% if(msg == true){ %>
    <h3> This is the message of error!</h3> 
  <%} else{%>
    <h3> No error! :)</h3>
  <%}%>

  
  
</body>
</html>